<!--<h1>Users#show</h1>-->
<!--<p>Find me in app/views/users/show.html.erb</p>-->

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <!--CSSの記述↓-->
      <div class="font_test">
      <h1>【ユーザ詳細】</h1>
      </div>
      <h2><%= @user.name %></h2>
      <p>bootstrapのcontainer row colを使用</p>
    </div>

    <div class="col-md-4">
      <div class="font_test">
      <h1>【記録】</h1>
      </div>
      <h2>合計距離：○ｍ</h2>
      <h2>例：○月○日　○キロメートル走った</h2>
      <h2>このように表示させたい。</h2>
      <h2>テスト文asdfasdfasds</h2>
      <h2>テスト文asdfasdfa</h2>
      <h2>テスト文</h2>
    </div>
    
    <div class="col-md-4">
      <div class="font_test">
      <h1>【グラフ】</h1>
      </div>
      <h2>ここに月ごとのグラフ</h2>
      
    </div>
    
  </div>
</div>  

  <div class="row">
    <div class="col-sm-8">
    <ul class="nav nav-tabs nav-justified mb-3">
      <li class="nav-item"><a href="#" class="nav-link">Microposts</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Followings</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Followers</a></li>
    </ul>
  </div>
</div>