
<div class="top-image jumbotron">
  <div class="mgr-10">
  <h1>Runking</h1>
  <br>
  <h2>とびこもう<br>
  <br>
  ランニングの世界</h2>
  </div>
</div>

<div class="container">
  
  <div class="row">
    <div class="col-md-6">  
        <div class="font_test">
          <h2>それは、明日への投資</h2>
        </div>
        <p>ランニングのよさとは<br>
        asfasdfasdfasdfa・<br>
        ここに文章と画像</p>
    </div>
    
    <div class="col-md-6">  
        <div class="font_test">
          <h2>ここに右側の画像と文</h2>
        </div>
        <p>あｓｄふぁｓｄふぁｓｄふぁｓｄｆ<br>
        あｓｄふぁｓｄふぁｓｄｆ<br>
        あｓｄふぁｓｄふぁｓｄ</p>
    </div>
  </div>
</div>