/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 
 /*ナビバーの下に余白を入れた。*/
body{ 
    padding-top: 60px; 
}

.font_test {
    text-align:center;
    
}

.small_font {
    text-align:center;
}

/*トップ画像*/
.top-image {
  position: relative;
  height: 550px;
  background: url(man2.jpg) center center;
  background-size: cover;
}

/*トップ画像内文字調節用*/
.mgr-10{
    margin-left : 70px;
}


/*サインアップボタンの上下*/
.area{
  margin-top: 50px;
  margin-bottom: 100px;
}

